@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 17,5px;
}

body {
    background-color: #f9f9f9;
}


.box_acessibilidade {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #121212;
}

.acessibilidade {
    width: 16%;
    height: 7vh;
    color: #fff;
    font-weight: 600;
    font-size: 1.4em;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#controls {
    filter: invert(100%);
    width: 200px;
    height: 25px;
}

/* .box_item {
    width: 0%;
    height: 7vh;
    display: flex;
    cursor: pointer;
    padding: 2px; */
    /* box-sizing: border-box; */
}

.disclaimer {
    /* width: 80%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 1.2em */
}

.icone_acessibilidade {
    padding: 16px;
    height: 7vh;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #033E8C;
}

.header a:hover {
    width: 50px;
    height: 100px;
    color: #033E8C;
    font-weight: 700;
    transition: 0.2s;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    /* margin-top: px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    height: 250px;
    padding: 10px 10px;
    box-sizing: border-box;
}

.header__icons {
    font-size: 1px;
}

.header__menu ul {
    display: flex;
    /* justify-content: flex-end; */
    margin: 0 30px 0 0;
    /* font-weight:bold; */
    letter-spacing: 2px;
}

.links__menu {
    display: flex;
    justify-content: flex-end;
}

.links__menu a {
    margin: 0 20px 0 0;
}


.pesquisar {
    /* width: 100%;
    height: 87vh; */
    /* margin: 10 auto 0px; */
    background-image: url(../img/tour_set_2.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.pesquisar h2 {
    color: #033e8c98;
    margin: 20px 0px 20px 0px;
    /* justify-items: center; */
}

.base {
    width: 55%;
    height: 60vh;
    margin: 85px auto;
    padding: 40px;
    background-color: #ffffff79;
    display:inline;
    justify-content: center;
    /* border-radius: 0px; */
}

.tipo {
    width: 100%;
    height: 5vh;
    margin: 5px;
    display: flex;
}

.buscar {
    width: 100%;
    height: 5vh;
    margin: 5px;
    display: flex;
}

.datas {
    /* width: 50%; */
    height: 5vh;
    margin: 5px;
    display: flex;
    gap: 5px;
}

.tipo_de_viagem,
#tipo_de_viagem,
#buscar_hoteis,
#data {
    width: 100%;
    height: 100%;
    /* padding: 3px 5px; */
    color: #033E8C;
    border: none;
    /* border-radius: 10px; */
    /* font-weight: bold; */
}

::placeholder {
    color: #033E8C;
}

.botao {
    width: 100%;
    height: 6vh;
    background-color: #033e8c75;
    /* border-radius: 0px; */
    text-align: center;

}

/* .botao h3 {
    font-size: 1.8rem;
    color: #FFF;
    margin-top: 10px;
    align-items: center;
} */

.botao:hover {
    background-color: #033e8c;
    color: #fff;
    font-weight: 700;
    transition: 0.2s;
}

/* CONTAINER PRINCIPAL ----- */

.cx_principal {
    height: 50vh;
    width: 98vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* CAIXAS */

.cx_fotohotel {
    height: 100%;
    width: 25%;
}

.cx_informacoes {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}

.cx_iframe {
    height: 100%;
    width: 25%;
}

/* ---------- */


iframe {
    /* border-radius: 2%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    margin-right: 2px;
    font-size: 1rem;
}

.fas {
    padding-right: 4px;
}


/* FOTO DO HOTEL ----- */
#fotodohotel {
    border: solid 1px #999;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

/* NOME DO HOTEL ----- */
.bx_hotel {
    height: 15%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 2%;

}

/* DESCRIÇÃO DO HOTEL ----- */
.bx_descricao {
    height: 15%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 1% 0;

}



/*  MELHOR OPÇÃO,ESTRELAS E AVALIAÇÃO -----*/
.bx_avaliacao {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2% 0;
}

#tagopcao {
    width: calc((100%-1em)/6);
    height: 70%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
    margin-right: 15px;
}

#tagestrela {
    color: rgb(255, 200, 0);
    width: auto;
    font-size: 1.1rem;
    height: 70%;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 3% 0 0;
}

.estrela_cinza {
    color: hsla(0, 0%, 66%, 0.5);
}

#tagavalie {
    border: solid 1px rgb(151, 151, 151);
    background-color: rgba(255, 49, 13, 0.3);
    width: 35%;
    height: 70%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
}

/*  MELHOR OPÇÃO,ESTRELAS E AVALIAÇÃO ^^^^^*/


/* VALOR E INFORMAÇÕES (KM E TEMPO) -----*/
.bx_valor {
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1% 0;

}

#vl_diaria {
    border: solid 1px black;
    background-color: rgb(51, 196, 51);
    width: 25%;
    height: 70%;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
    margin-right: 5%;
}

#vl_km {
    border: solid 1px black;
    background-color: rgb(219, 243, 155);
    width: 20%;
    height: 70%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
    margin-right: 1%;

}

#vl_tempo {
    border: solid 1px black;
    background-color: rgb(219, 243, 155);
    width: 20%;
    height: 70%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
    margin-right: 1%;
}

#vl_local {
    width: 30%;
    height: 70%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
}


/* LINKS DE ACESSO -----*/

.bx_acesso {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1% 0;
}

a {
    text-decoration: none;
    color: #000;
}


#lk_site {
    border: solid 1px black;
    background-color: rgb(51, 73, 196);
    color: #fff;
    letter-spacing: 1px;
    width: 20%;
    height: 70%;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
    margin-right: 5%;
}

#lk_rota {
    border: solid 1px black;
    background-color: rgb(243, 155, 189);
    width: 20%;
    height: 70%;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 12px; */
    padding: 0 1%;
    margin-right: 1%;
}






.rodape {
    width: 100%;
    font-size: 2vh;
    height: 3vh;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: cover;
    color: #FFF;
}

.midias {
    display: flex;
    font-size: 4vh;
}

.midias a {
    margin: 10px 10px 0;
    color: #fff;
}

/* media queries */

@media (max-width: 800px) {
    .tipo {
        width: 30%;
        height: 84%;
    }

    .acessibilidade_mobile {
        display: none;
    }

}

@media (max-width: 800px) {
    /* .botao h3{
        margin-top: 25px;
    } */

    .disclaimer {
        font-size: 0.8em
    }

    .acessibilidade {
        font-weight: 400;
        font-size: 1em;
    }

    .cx_principal {
        /* background-color: rgba(114, 168, 250, 0.404); */
        height: 90vh;
        width: auto;
        margin-bottom: 5vh;
        flex-wrap: wrap;
    }

    /* CAIXAS  ^^^^^ */
    .cx_fotohotel {
        height: 30%;
        width: 100%;
    }

    .cx_informacoes {
        height: 60%;
        width: 60vw;
        margin-bottom: 1%;
        margin-top: 1%;
        float: left
    }

    .cx_iframe {
        height: auto;
        width: 30vw;

    }

    .bx_hotel {
        height: 15%;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    #bx_descricao {
        margin: 0;
    }

    #tagavalie {
        padding: 1% 1%;
        width: 40%;
        height: 40%;
        font-size: 0.9rem;
    }

    #vl_diaria {
        padding: 1% 1%;
        width: 40%;
        height: 40%;
        font-size: 0.9rem;
    }

    #vl_km,
    #vl_tempo {
        padding: 1% 1%;
        width: 30%;
        height: 40%;
        font-size: 0.9rem;
    }

    #lk_site,
    #lk_rota {
        padding: 1% 1%;
        width: 25%;
        height: 40%;
        font-size: 0.9rem;
    }

}

@media (max-width: 800px) {
    .header {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .header__logo img {
        height: 250px;
        padding: 10px 10px;
        box-sizing: border-box;
    }

    .acessibilidade_mobile {
        width: 189px;
        height: 100vh;
        padding-right: 1vh;
        background-color: #f9f9f9;
        right: -100vw;
        top: 5vh;
        z-index: 2;
        transition: 0.5s;
        flex-direction: column;
        align-items: center;
        position: relative;
    }


    .linha {
        width: 20px;
        height: 2px;
        background: #033E8C;
        margin: 3px;
    }

    .header__menu {
        position: relative;
    }

    .hamburguer {
        position: absolute;
        right: 0;
        top: -15px;
        cursor: pointer;
    }

    .links__menu {
        font-size: 2vh;
        width: 160px;
        height: 9vh;
        /* padding-right: 1vh; */
        background-color: #f9f9f9;
        position: fixed;
        right: -100vw;
        top: 5vh;
        z-index: 2;
        transition: 0.5s;
        flex-direction: column;
        align-items: center;
    }

    .box_acessibilidade {
        display: none;
    }

    .titulo_acessibilidade {
        font-size: 1.1em;
    }

    .links__menu li {
        text-align: center;
        font-size: 1.2em;
    }

    .icone_menu {
        width: 25px;
        height: 20px;
        margin-top: 16px;
        margin-right: 16px;
    }

    .links__menu.open {
        right: 0;
    }

    .pesquisar {
        background-size: 145%;
        display: flex;
        flex-direction: column;
    }

    .pesquisar h2 {
        color: #033e8c98;
        margin: 80px 0px 0px 0px;
    }

    .base {
        width: 86%;
        height: 10%;
        display: flex;
        flex-direction: column;
    }

    .tipo {
        width: 100%;
        height: 100%;
        /* padding: 3px 5px; */
        color: #033E8C;
        border: none;
        /* border-radius: 10px; */
        /* font-weight: bold; */
    }

    .buscar {
        width: 100%;
        height: 5vh;
        margin: 5px;
        display: flex;
    }

    .datas {
        width: 100%;
        height: 100%;
        /* padding: 3px 5px; */
        color: #033E8C;
        border: none;
        /* border-radius: 10px; */
        /* font-weight: bold; */
    }

    .botao {
        width: 100%;
        height: 5vh;
        margin: 1px;
    }

    .rodape {
        width: 100%;
        font-size: 10px;
        height: 1px;
        display: flex;
        padding: 18px;
        flex-direction: column;
        align-items: center;
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        background-size: cover;
        color: #FFF;
    }

    /* .botao h3{
        font-size: 1.4rem;
    } */
    
    .midias {
        font-size: 2vh;
        margin-bottom: 20px;
    }


    .cx_principal {
        height: 130vh;
        width: auto;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* CAIXAS  ^^^^^ */

    .cx_fotohotel {
        height: 30%;
        width: 100%;
    }

    .cx_informacoes {
        height: 30%;
        width: 100%;
        margin-bottom: 1%;
        margin-top: 1%;
        padding: 0 5%;
    }

    .cx_iframe {
        height: 30%;
        width: 100%;
        padding: 0 5%;

    }

    .bx_hotel {
        height: 15%;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .bx_descricao {
        font-size: 1.1rem;

    }

    #tagopcao {
        padding: 1% 1%;
        width: 20%;
        height: 40%;
        font-size: 1rem;

    }

    #tagestrela {
        padding: 1% 1%;
        width: 40%;
        height: 50%;
        font-size: 0.9rem;
        letter-spacing: 0;
    }

    #tagavalie {
        padding: 1% 1%;
        width: 40%;
        height: 50%;
        font-size: 0.9rem;
    }

    #vl_diaria {
        padding: 1% 1%;
        width: 40%;
        height: 50%;
        font-size: 0.9rem;
    }

    #vl_km,
    #vl_tempo {
        padding: 1% 1%;
        width: 40%;
        height: 50%;
        font-size: 0.9rem;
    }

    #lk_site,
    #lk_rota {
        padding: 1% 1%;
        width: 40%;
        height: 50%;
        font-size: 0.9rem;
    }


}

@media (max-width: 450px) {


        /* .botao h3 {
            font-size: 1rem;
            margin-top: 8px;
        } */
}
